name: .Build and Run

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore Bifrost.sln
    - name: Build
      run: dotnet build --no-restore Bifrost.sln
    - name: Test
      run: dotnet test --no-build --verbosity normal Bifrost.sln
